<div class="user-details">
  <center><h1> Skill and Languages</h1> </center>
</div>
<div> <h3> Skills</h3> </div>
  <p> Swift, Python, Java, C, C++, Linux, Latex, HTML, CSS, R, Verilog, Derby Database </p>
  <h3> Languages </h3>
  <p> English(fluent), Korean(Native), Chinese(intermediate)</p>
  
  <h3> Course Work</h3>
  <p> Data Structure and Algorithm with Python and Java</p>
  <p> Creating simple GUI program with Java (Netbeans)</p>
  <p> Construct and manage Derby database in Java</p>
  <p> Scraping data table from the Internet by using Python</p>
  <p> Build website by using HTML and CSS</p>
  <p> Identify IP and MAC addresses using DHCP, DNS, ARP</p>
  <p> Constructing the MIPS CPU with Verilog</p>
  <p> Currently taking an introduction of Linux at EDX (web-based course)</p>

  


