div.user-details{
  margin: 0 auto;
  witdh : 90%;
  max-width: 960px;
}
<body style="margin:0;witdh: 90%">
                        
 <div class="user-details">
   <h1> Experience</h1> </div>


  <body>

<div><h3> Work Experience </h3>
  <p> I served military for 19 months on 2014 to 2016 at the 3rd Infantry Division. <br>Since it was next to the 38th parallel, there were many conflicts. <br> Not only we had tough training everyday, I help officers to enhance <br> their intensive situation by designing good operation system as an cheif of operation clerk</p>
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
</div>

<div><h3> Teaching Experience </h3></div>
  <p> Teaching Assistant for Modern African History Course, Spring 2018 </p>

  
  
  <h3> Leadership Experience</h3>
  <p> The Bridge Initiative (TBI), Event Team, August 2016 - 2017</p>
  <p> Bridge Initiative is a non-profit organization that creates a bridge between students and volunteer work.</p> 
   <p>We created special events that can attract students to get involved with volunteer work.</p>
  <p><br> </p>
  <p> Korean American Scientists and Engineers Association (KSEA), Team Manager and Web Master, 2017 - current</p>
  <p> Used HTTP to update KSEA official <a href="http://sites.psu.edu/ksea/current-yg-officers/">website</a></p>

</body>

