 <div class="user-details">
  <h1> Work Experience</h1>
  <p> 3rd Infantry Divsion </p>
  <p> &#9; Leader of Operation Clerks, July 2014 - May 2016</p>
  <p> &#9; Help officers to enhance the intensive situation by designing good operation system.</p>
  <p></p>
  <p> Teacher's Assistance </p>
  <p> &#9; TA for Modern African History Course, Jan 2018 - current</p>
  
  
  <h1> Leadership Experience</h1>
  <p> Data Structure and Algorithm with Python and Java</p>
  <p> Creating simple GUI program with Java (Netbeans)</p>
  <p> Construct and manage Derby database in Java</p>
  <p> Scraping table data from the Internet by using Python</p>
  <p> Build website by using HTML and CSS</p>
  <p> Identify IP and MAC addresses using DHCP, DNS, ARP</p>
  <p> Constructing the MIPS CPU with Verilog</p>
  <p> Currently taking an introduction of Linux at EDX (web-based course)</p>
  
</div>
