 <div class="user-details">
  <h1> Work Experience</h1>
  <p> 3rd Infantry Divsion, Leader of Operation Clerks, July 2014 - May 2016</p>
  <p> Help officers to enhance the intensive situation by designing good operation system.</p>
  <p></p>
  <p></p>
  <p> Teacher's Assistance,TA for Modern African History Course, Jan 2018 - current </p>

  
  
  <h1> Leadership Experience</h1>
  <p> The Bridge Initiative (TBI), Event Team, August 2016 - 2017</p>
  <p> Bridge Initiative is a non-profit organization that creates a bridge between students and volunteer work.</p> 
   <p>We created special events that can attract students to get involved with volunteer work.</p>
  <p> </p>
  <p> </p>
  <p> Korean American Scientists and Engineers Association (KSEA), Team Manager & Web Master, 2017 - current</p>
  <p> Used HTTP to update KSEA official <a href="https://www.w3schools.com/html/">website</a></p>


</div>
