<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
                  <p> Hello! I am a third year Computer Science major and Statistics minor at Pennsylvania State University. I lived in South Korea until middle school and studied in the U.S. since high school. I believe coding once is better than reading codes hundreds of times. I also love to learn new programming languages and enhance them on my free time.</p> 
        <br></div>
      <div class="header-icons">
        <a aria-label="Send email" href="junwoo93s@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin" target="_blank" href ="https://www.linkedin.com/in/junwoo-seo/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/junwoo93s"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>

      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Skills and Languages</a>
        <a class="link" href="#about.user-details" data-scroll>Experience</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
