<div class="user-details">
  <h1> Projects </h1>
</div>

    <h3> KSEA Website Construction </h3>
    <ur>
      <li>KSEA requested to reconstruct the Website in modern trends. Used HTML and CSS to construct the Webpage </li>
    </ur>

    <a class="project-link" href="http://sites.psu.edu/ksea/current-yg-officers/">Check it out</a>

    <p></p>
    <h3> IOS Application : Clima </h3>
    <ur>
      <li>This application helps  </li>
    </ur>


    <p></p>
    <h3> IOS Application : Flash Talk </h3>
    <ur>
      <li>This application helps  </li>
    </ur>

    <p></p>
    <h3> IOS Application : Bitcoin Tracker </h3>
    <ur>
      <li>This application helps to track down a BitCoin currency in 31 different currencies. </li>
      <img src="junwoo93s.github.io/src/img/BitCoin1.jpeg" alt="Bitcoin pic1">
    </ur>

    <p></p>
    <h3> IOS Application : Shopping List </h3>
    <ur>
      <li>This application helps  </li>
    </ur>


