<div class="user-details">
  <h1> Projects </h1>
</div>

    <h3> KSEA Website Construction </h3>
    <ur>
      <li>KSEA requested to reconstruct the Website in modern trends. Used HTML and CSS to construct the Webpage </li>
    </ur>

    <a class="project-link" href="http://sites.psu.edu/ksea/current-yg-officers/">Check it out</a>

    <p></p>
    <h3> IOS Application : Clima </h3>
    <ur>
      <li>This application helps to check the current weather of current location or any desirable locations </li>
      
      <li>imported SwfityJSON and Alamofire from CocoaPods</li>
      <li>imported CoreLocation to extract the proper location</li>
      <li>Used API from openweathermap.com</li>
      <img src="/src/img/climag.gif">

    </ur>


    <p></p>
    <h3> IOS Application : Flash Talk </h3>
    <ur>
      <li>This application helps users can group chat via this chat application </li>
      <li>Used Firebase to build up the backend of this application</li>
      <li>imported SVProgessHUD to enhence the visibility of this application</li>
                  <img src="/src/img/chat.gif">

    </ur>

    <p></p>
    <h3> IOS Application : Bitcoin Tracker </h3>
    <ur>
      <li>This application helps to track down a BitCoin currency in 31 different currencies. </li>
      <li>Imported SwiftyJSON and Alamofire from CocoaPods</li>
      <li>Used API from bitcoinaverage.com to get Bitcoin currency</li>
      <img src="/src/img/bitgif.gif">
    </ur>

    <p></p>
    <h3> IOS Application : Shopping List </h3>
    <ur>
      <li>This application helps to add, delete, and check markings on an item inside a list </li>
      <li>Imported CoreData to save the items in a list</li>
            <img src="/src/img/shopping.gif">

    </ur>


